/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
    font-size: 2em;
    font-weight: bold;
    color: #777777;
    margin: 40px 0px 70px;
    text-align: center;
}

.center {
    margin: auto;
}

.card {
    width: 100px;
    height: 150px;
    margin: 1em;
    border: 2px solid;
    border-radius: 5px;
}

.cardBack {
    border-color: black;
    background-image: url("gradcap.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.emptyCard {
    border-color: gray;
    background-image: url("gradcap.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.3;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
    width: 400px;
}

.dialogVPanel {
    margin: 5px;
}

.serverResponseLabelError {
    color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
    margin: 15px 6px 6px;
}
